<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="SuperMitreApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperMitreApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Actividad principal de la App -->
        <activity
            android:name="com.martinmarcos.supermitreapp.ui.MainActivity"
            android:exported="true"
            android:label="SuperMitreApp"
            android:theme="@style/Theme.SuperMitreApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Agregamos la actividad que maneja el Deep Link -->
        <activity
            android:name="com.martinmarcos.supermitreapp.ui.CongratsActivity"
            android:exported="true"
            android:label="DeepLink"
            android:theme="@style/Theme.SuperMitreApp">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="supermitreapp" android:host="congrats" />
            </intent-filter>
        </activity>

    </application>

</manifest>
